### Análise de Vendas:

- Gráfico de linhas mostrando as vendas ao longo do tempo (usando a coluna 'Date').
- Gráfico de barras para comparar as vendas por canal de vendas ('Sales Channel').
- Gráfico de pizza para visualizar a distribuição de vendas por categoria de produto ('Category').
- Gráfico de dispersão para analisar a relação entre a quantidade vendida ('Qty') e o valor das vendas ('Amount').


### Desempenho da Logística:

- Gráfico de barras para acompanhar o status do envio ('Courier Status').
- Mapa geográfico mostrando a distribuição de envios por cidade ('ship-city') ou país ('ship-country').
- Gráfico de barras empilhadas para comparar os níveis de serviço de envio ('ship-service-level') por canal de vendas ('Sales Channel').


### Análise de Produtos:

- Gráfico de barras horizontais para destacar os produtos mais vendidos com base na quantidade ('Qty') ou receita ('Amount').
- Gráfico de dispersão para visualizar a relação entre o tamanho ('Size') dos produtos e a quantidade vendida ('Qty').


### Análise de Promoções:

- Gráfico de barras para comparar o desempenho de vendas entre produtos promocionais e não promocionais.
- Gráfico de linhas mostrando o impacto das promoções ao longo do tempo.


### Análise Geográfica:

- Mapa de calor para destacar as regiões com o maior volume de vendas.
- Gráfico de barras agrupadas para comparar as vendas por estado ('ship-state') ou país ('ship-country').

In [84]:
import pandas as pd
import datetime

In [85]:
df = pd.read_csv('/Users/joaoaroca/Documents/Portifólio/Power BI/Sales/Amazon Sale Report.csv')

/var/folders/5b/94pzbwt93956n1sc6yjsyf2c0000gn/T/ipykernel_2683/1403923139.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/joaoaroca/Documents/Portifólio/Power BI/Sales/Amazon Sale Report.csv')

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [87]:
df.head(3)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN

In [88]:
df.duplicated().sum()

0

In [89]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [90]:
# Valores vazios por não possuir promoção
df['promotion-ids'].fillna('no promotion', inplace = True)

In [91]:
# Courier Status desconhecido
df['Courier Status'].fillna('unknown', inplace = True)

In [92]:
# Trocando Amount nulo por 0
df['Amount'].fillna(0, inplace = True)

In [93]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status            0
Qty                       0
currency               7795
Amount                    0
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids             0
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [94]:
# Removendo as colunas desnecessárias
df.drop(['index','Unnamed: 22', 'currency', 'fulfilled-by'], axis=1, inplace= True)

In [95]:
# Convertendo para um formato mais amigável
df['Date'] = df['Date'].apply(lambda x: datetime.datetime.strptime(x, '%m-%d-%y').strftime('%d/%m/%Y'))

In [96]:
# Criando as duas colunas B2B e B2C
df['B2C'] = df.B2B.apply(lambda x: 1 if x == False else 0)
df['B2B'] = df.B2B.apply(lambda x: 1 if x == True else 0)

In [97]:
df.head(3)

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,B2C
0,405-8078784-5731545,30/04/2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,unknown,0,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,no promotion,0,1
1,171-9198151-1101146,30/04/2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,Shipped,1,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,0,1
2,404-0687676-7273146,30/04/2022,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,1,0

In [98]:
df['ship-city'].fillna('unknown', inplace = True)
df['ship-state'].fillna('unknown', inplace = True)
df['ship-postal-code'].fillna('unknown', inplace = True)
df['ship-country'].fillna('unknown', inplace = True)

/var/folders/5b/94pzbwt93956n1sc6yjsyf2c0000gn/T/ipykernel_2683/2705026331.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['ship-postal-code'].fillna('unknown', inplace = True)

In [99]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Style                 0
SKU                   0
Category              0
Size                  0
ASIN                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
B2C                   0
dtype: int64

In [100]:
df.to_excel('/Users/joaoaroca/Documents/Portifólio/Power BI/Sales/dados.xlsx', index=False)